/* /* -------------------------------- */
/* Forms */
/* -------------------------------- */

.table-input {
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 8px;
  padding: 8px 13px;
  min-width: 180px;
  box-sizing: border-box;

  font-size: 12px;
  letter-spacing: -0.019em;
  color: #575757;
  width: 100%;
  outline: none;
}
.table-input-search-box {
  position: relative;
  width: 25%;
  min-width: 250px;
}
.table-input-search-box > img {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 10px;
  cursor: pointer;
}
.table-input::placeholder {
  font-size: 12px;
  letter-spacing: -0.019em;
  color: #575757;
}
/* ================================ */
/* ================================ */
/* ================================ */
*/ .image {
  width: 40px;
  height: 27px;
}
.title-link {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.title-link2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 15px;
}
.title-linkChild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 30px;
  gap: 5px;
}
.link-direction:last-child {
  color: #343957 !important;
}
.title-linkChild > div {
  font: menu;
}
.link-direction {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #575757;
  text-decoration: none;
}
.tableContainer {
  background: #ffffff;
  border-radius: 10px;
  width: 100%;
  height: calc(100% - 100px);
}
.table-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #5f6368;
  width: 100%;
  height: 60px;
  gap: 20px;
  padding: 0 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #dadada;
  box-sizing: border-box;
}

.addPage {
  width: 143px;
  height: 30px;
  background: #7098d5;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  border: 0;
  cursor: pointer;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-decoration: none;

  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  width: 100%;
  height: auto;
  border: 1px solid #dadada;
  border-right: none;
  border-left: none;
  border-collapse: collapse;
  /* position: relative; */
}
td {
  height: 35px;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: -0.019em;
  padding: 0 15px;
  color: #575757;
}
th,
td {
  border: 1px solid #dadada;
  border-left: none;
}
.pen {
  cursor: pointer;
}
.firstLine {
  position: sticky;
  top: -1px;
  z-index: 1;
  background-color: white;
  border-top: 1px solid #dadada;
}
.firstLine td {
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #343957;
  border-color: none;
  min-width: 40px;
}
.modalButton {
  background: none;
  border: none;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.019em;
  text-decoration: underline;
  color: #575757;
  cursor: pointer;
}
.tableChild {
  position: relative;
}
.tableChild::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
.tableChild::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.tableChild::-webkit-scrollbar-thumb {
  background: #a3a3a3;
}

/* Handle on hover */
.tableChild::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* switch start */
.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 28px;
  height: 12px;
  position: relative;
  vertical-align: middle;
  -webkit-transition: background 0.25s;
  -o-transition: background 0.25s;
  transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: #4a77ba;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: left 0.25s;
  -o-transition: left 0.25s;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: #4a77ba;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #7098d5;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 20px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}
/* switch end */
