* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background: #fff;
  border-radius: 10px;
}
.new_note {
  width: 100%;
  min-height: 630px;
}
.new_note .create_note {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #ececec;
  padding: 16px 0 0 25px;
}
.new_note .create_note h3 {
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 600;
  color: #5f6368;
}
.new_note .note_form {
  width: 100%;
  height: auto;
  padding: 10px 50px 15px 27px;
  display: flex;
  justify-content: space-between;
}
.new_note .note_form .left_form,
.new_note .note_form .right_form {
  width: 51%;
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 3;
}
.new_note .note_form .label {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  align-items: baseline;
  font-size: 14px;
  font-family: Segoe UI;
  color: #343957;
  font-weight: 600;
}
.new_note .note_form .label input,
.new_note .note_form select {
  width: 47%;
  min-width: 125px;
  height: 30px;
  outline: none;
  padding-left: 5px;
  border-radius: 8px;
  border: 1px solid #dadada;
  padding-left: 10px;
}
.new_note .note_form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 3px;
  appearance: none;
}
.new_note .note_form .right_form .other_notes {
  align-items: flex-start;
}
.new_note .note_form .right_form .other_notes textarea {
  width: 47%;
  height: 122px;
  outline: none;
  border-radius: 8px;
  border: 1px solid rgb(218, 218, 218);
  padding-left: 10px;
  margin: 7px 0;
  resize: none;
  font-size: 14px;
  font-family: inherit;
}
.new_note .note_form .right_form .subscript,
.new_note .note_form .right_form .documents {
  justify-content: center;
}
.new_note .note_form .right_form .subscript input::-webkit-file-upload-button {
  display: none;
}
.new_note .note_form .right_form .subscript input,
.new_note .note_form .right_form .documents input {
  border: none;
    display: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.new_note .note_form .right_form .subscript_img,
.new_note .note_form .right_form .documents_img {
  width: 100px;
  height: 100px;
  display: none;
  position: relative;
  margin-left: calc(100%/1.9);
}
.new_note .note_form .right_form .subscript_img #output,
.new_note .note_form .right_form .documents_img #output2 {
  object-fit: contain;
}
.delete,
.delete2 {
  position: absolute;
  top: 6px;
  right: 0;
  cursor: pointer;
}
.new_note .note_form .buttons {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
  position: relative;
  left: 53%;
}
.new_note .note_form .buttons button {
  width: 100px;
  height: 30px;
  border-radius: 7px;
  border: 1px solid #7098d5;
  background: #fff;
  color: #7098d5;
  cursor: pointer;
}
.new_note .note_form .buttons button:hover {
  background: #7098d5;
  color: #fff;
}
