.searchContainer {
  width: 100%;
  display: flex;
  justify-content: end;
}
.changeOwnerSearch {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  height: 347.58px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.searchTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #5f6368;
  padding: 17px 20px;
  border-bottom: 1px solid #dadada;
}
.formContainer {
  height: 100%;
  padding: 20px 0;
}
form {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
.formContainerChild,
.formContainerChild2 {
  width: 60%;
  padding: 0 140px;

  height: auto;
}

.formContainerChild > div,
.formContainerChild2 > div {
  margin-top: 20px;
}
.doubleInpTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #9f9f9f;
  margin-top: 10px;
}
.doubleInp {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.form1Wrap .controlGroup input {
  background: #bdbdc75c !important;
}
