.record-box {
  border: 1px solid;
  min-height: 500px;
  width: 50%;
  padding-left: 20px;
}
h2 {
  text-align: center;
}
.car-description div {
  display: flex;
  gap: 5px;
}
.car-description span:nth-child(2),
.payments span:nth-child(2) {
  text-transform: uppercase;
  font-weight: bold;
}
h4 {
  text-align: center;
}
.payments {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
h3 {
  font-weight: normal;
}
