.app {
  background: #fff;
  border-radius: 10px;
  padding: 0 18px;
}

.new_note {
  width: 100%;
  min-height: 500px;

  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.note-container {
  max-width: 350px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.double-inp {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.double-inp-title {
  font-weight: 600;
  font-size: 8px;
  line-height: 11px;
  color: #9f9f9f;
  margin-top: 10px;
  margin-bottom: 10px;
}
.double-inp-box {
  display: flex;
  gap: 20px;
}
.new-note-btn {
  margin-top: 50px;
}
.double-inp-box .input-group {
  min-width: 100px;
  min-height: 41px;
  max-height: 100px;
}
.double-radio {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.double-radio-box {
  display: flex;
  gap: 20px;
}
.double-radio-box label {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #9f9f9f;
}
.radio-group {
  display: flex;
  gap: 10px;
  align-items: center;
}
.btn-box {
  display: flex;
  justify-content: flex-end;
  width: 85%;
  height: 100px;
}

/* ========================================================= */
/* ========================================================= */
/* ========================================================= */
#transaction-type-modal {
  border-radius: 20px;
  min-width: 63%;
}
.modal-content {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 32px 0 24px 64px;
}
.modal-head {
  padding: 21px 44px 14px 64px;
}
.modal .close {
  scale: 1.8;
}

/* ----- */
/* ----- */
/* ----- */

.modal-ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  overflow-y: auto;
  max-height: 500px;
  padding-right: 44px;
}
.modal-ul > li {
  display: flex;
  align-items: center;
  gap: 13px;
}
.modal-ul + .main-btn {
  align-self: flex-end;
  margin-right: 44px;
}
.modal-title {
  font-size: 18px;
}
