/* input */
.pageTitle {
  display: flex;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #5f6368;
}
a {
  text-decoration: none;
  color: none;
}

.deskTable {
  border-radius: 10px;
}
.desk-links {
  display: flex;
  gap: 40px;
  margin: 30px 0 57px;
}
.desk-link-card {
  width: 247.73px;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  text-decoration: none;
}
.desk-link-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #343957;
}
/*  */

/* Form Effect 1 Design */

.controlGroup {
  min-width: 200px;
  min-height: 40px;
  position: relative;
  color: white;
}

.controlGroup.textArea {
  margin: 10px 0 0 0;
  width: 98.5%;
}
.controlGroup input {
  width: 100%;
}
.form1Wrap .controlGroup label,
.form1Wrap .controlGroup input,
.form1Wrap .controlGroup textarea {
  position: absolute;
  width: 100%;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}

.form1Wrap .controlGroup label {
  bottom: 3px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #9f9f9f;
}
.form1Wrap .controlGroup input,
.form1Wrap .controlGroup textarea {
  border: none;
  height: 0;
  border-top: 1px solid black;
  bottom: 0;
}
.form1Wrap .controlGroup input,
.form1Wrap .controlGroup textarea,
.form1Wrap .controlGroup input:active,
.form1Wrap .controlGroup textarea:active,
.form1Wrap .controlGroup input:focus,
.form1Wrap .controlGroup textarea:focus {
  background: rgba(0, 0, 0, 0.4);
  outline: none;
}

.form1Wrap .textArea textarea {
  width: 100%;
  resize: none;
}
.form1Wrap .controlGroup.focus label {
  bottom: 34px;
  font-size: 11px;
  outline: none;
  cursor: pointer;
}
.form1Wrap .controlGroup.focus input,
.form1Wrap .controlGroup.focus textarea {
  bottom: -11px;
  padding: 20px;
  outline: none;
}

.form1Wrap .controlGroup.focus textarea {
  height: 95px;
  bottom: -67px;
  padding: 20px;
  outline: none;
}
.inputWrap img {
  position: absolute;
  bottom: 5px;
  right: 10px;
}
/* open default */
.form1Wrap .controlGroup input:not(:placeholder-shown) + label {
  bottom: 34px;
  font-size: 11px;
  outline: none;
  cursor: pointer;
}
.form1Wrap .controlGroup input::placeholder {
  font-size: 0;
}
.form1Wrap .controlGroup input:not(:placeholder-shown),
.form1Wrap .controlGroup textarea:not(:placeholder-shown) {
  bottom: -11px;
  padding: 20px;
  outline: none;
}
/* open default */
/* Form Effect */
