/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media screen and (max-width: 1099px) {
  .new_user .user_form .status {
    width: 58%;
  }
}
@media screen and (max-width: 989px) {
  .new_user .user_form .status {
    width: 59%;
  }
}
@media screen and (max-width: 909px) {
  .new_user .user_form .status {
    width: 60%;
  }
}
@media screen and (max-width: 809px) {
  .new_user .user_form .status {
    width: 61%;
  }
}
@media screen and (max-width: 769px) {
  .new_user .user_form {
    padding: 0 20px;
  }
  .new_user .user_form .flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 669px) {
    .new_user .user_form .status {
        width: 63%;
    }
}
@media screen and (max-width: 589px) {
  .new_user .user_form .confirm_password input {
    width: 64%;
  }
  .new_user .user_form .status {
    width: 66%;
  }
}
@media screen and (max-width: 509px) {
  .new_user .user_form .confirm_password input {
    width: 74%;
  }
}